@require '~normalize.css'
@require '~fullpage.js/dist/fullpage.css'

@require 'other/media'
@require 'other/font'

@require 'blocks/r'




.header
	background #000

.second
	background #f00

































